<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>FundMe</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    <aside>
      <h2>Latest Posts</h2>
      <!-- Add a list of recent blog posts here -->
      <ul>
        <li><a href="/post/1">Introduction to JavaScript Promises</a></li>
        <li><a href="/post/2">Getting Started with React Hooks</a></li>
        <li><a href="/post/3">Understanding RESTful APIs</a></li>
        <li><a href="/post/4">Web Development Best Practices</a></li>
      </ul>
    </aside>
    <div class="post">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
